* {
  margin: 0;
  padding: 0;
}

/* Background */

/* Button and Text */
#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Button Heading */
.btn-heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  padding: 5px;
}

/* Button */
.btn {
  padding: 20px 50px;
  border: none;
  border-radius: 10px;
  background-color: #004f3e;
  cursor: pointer;
}

/* Button Text */
.btn-text {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}
